<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p style="margin:0px;"><a class="nav-bottom" href="/workflow/">SRH Workflow</a></p>
        <p style="margin:0px;"><a class="nav-bottom" href="https://mlins.org">MLiNS Lab</a></p>
        <p style="margin:0px;"><a class="nav-bottom"
            href="https://docs.google.com/forms/d/e/1FAIpQLSecnzEhvMKSTUTEC8TBExNg7aCJxQnTLoq8Pqzes6-eydy0yA/viewform">Contact</a>
        </p>
        <p style="margin:0px;"><a class="nav-bottom"
            href="https://docs.google.com/forms/d/e/1FAIpQLScrjD0k8ZZB4oX4o1n5M2M1Fw2x6DgxOBIc1LcBVvsE6WD6PQ/viewform">Request
            Data</a></p>
      </div>

      <div class="footer-col footer-col-3">
        <p>
          © Regents of the <a href="https://www.umich.edu">University of Michigan</a>
        </p>
        <p>
          <a href="https://medicine.umich.edu/medschool/">U-M Medical School</a> |
          <a href="https://medicine.umich.edu/dept/neurosurgery">Department of Neurosurgery</a> |
          <a href="https://www.uofmhealth.org/general-information/privacy-statement">Privacy Statement</a> |
          <a href="https://www.uofmhealth.org/contact-us">Contact Michigan Medicine</a>
        </p>
      </div>
    </div>

  </div>

</footer>
