---
layout: default
---

{% for i in site.data.card %}
<h2 style="margin-top:0px;" class="img-card-cname">{{i[1].title}}</h2>
<div class="image-card">
    <div id="{{i[0]}}" class="dz-im-card"></div>
    <script src="/openseadragon/openseadragon.min.js"></script>
    <script type="text/javascript">
        var viewer = OpenSeadragon({
            id: "{{i[0]}}",
            prefixUrl: "/openseadragon/images/",
            tileSources: "{{i[1].im_path}}",
            homeFillsViewer: true,
            defaultZoomLevel: 4,
            minZoomImageRatio: .25,
            autoHideControls: false
        });
    </script>
</div>
{% endfor %}
