---
layout: default
---

<h4 class="post-title">SRH Workflow</h4>

<img style="margin-bottom: 15px;" src="/assets/images/srh-workflow.png" alt="srh-workflow" />

<p>
  A patient with a newly diagnosed brain lesion undergoes a surgery for
  tissue diagnosis and/or tumor resection. The tumor specimen is sampled from
  the patient's tumor and directly loaded into a premade, disposable
  microscope slide. The specimen is placed into the SRH imager for rapid
  optical imaging. SRH images are acquired sequentially as strips at two
  Raman shifts, 2845 cm<sup>-1</sup>, and 2930 cm<sup>-1</sup>.
  The size and number of strips to be acquired are set by the operator who
  defines the desired image size. Standard image sizes range from
  1 - 5mm<sup>2</sup> and image acquisition time ranges from 30 seconds
  to 3 minutes. The strips are edge clipped, field flattened and
  co-registered to generate whole slide SRH images. Images can be colored
  using a custom virtual H&E colorscheme for pathologic review.
  The whole slide image is divided into
  non-overlapping 300x300 pixel patches and each patch undergoes a
  feedforward pass through a previously trained tumor segmentation model
    to segment the patches into tumor regions, normal
  brain, and nondiagnostic regions. The tumor patches are then used for both
  training and inference to predict the patient's brain tumor diagnosis.
</p>
